/* Constants */
:root {
  /* colors */
  --color-bckg_main: #c4c4c4;
  --color-bckg_tab: #e5e5e5;
  --color-bckg_tab_select: #99b2e2;
  --color-white: #fff;
  --color-dark: #000;
  --color-shadow: #333;
  --color-in: #006699;
  --color-twit: #1da1f2;
  --color-face: #395185;

  /* values*/
  --pad-main: 50px;
  --marg-post: 5px;
  --post-width: 240px;
  --logo-width: 40px;
  --btn-width: 32px;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  max-width: 1280px;
  margin: 0 auto;
}

/**** header ****/
.header {
  background-color: var(--color-bckg_main);
  display: flex;
  justify-content: space-between;
  height: 60px;
  font-size: 18px;
}

.header__left {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.header__right {
  display: flex;
  margin-top: 1em;
}

.logo {
  width: var(--logo-width);
  height: var(--logo-width);
  margin: 10px 15px 10px 11px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.menu {
  padding-right: 10px;
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 26px;
}

.nav li {
  padding-left: 40px;
}

.nav li:first-child {
  padding-left: 0px;
}

/**** hero ****/
.hero {
  height: 270px;
  background-image: url("../images/hero.jpg");
  background-position: center;
  border: 1px solid var(--color-white);
  display: flex;
}

.hero h2 {
  margin: auto;
  font-size: 64px;
}

/**** tabs ****/
.nav-tabs {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--pad-main);
  margin-top: 1em;
}

.nav-tabs ul {
  display: flex;
  background-color: var(--color-bckg_tab);
}

.nav-tabs li {
  display: flex;
  height: 50px;
  width: 87px;
}

.nav-tabs a {
  margin: auto;
  text-decoration: none;
  color: var(--color-dark);
  font-weight: bold;
}

.nav-tabs li:not(:last-child) {
  border-right: 1px solid var(--color-dark);
}

.nav-tabs--selected {
  background-color: var(--color-bckg_tab_select);
}

/**** posts ****/
.main {
  background-color: var(--color-bckg_main);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, var(--post-width));
  justify-content: space-between;
  padding: 0 40px 40px 40px;
}

.post {
  width: var(--post-width);
  background-color: var(--color-bckg_main);
}

.post__title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.post img {
  width: 100%;
  height: auto;
  border: 1px solid var(--color-white);
}

.post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.post__footer .username {
  margin: 0 8px;
  cursor: default;
}
/**** post buttons ****/
/* boutons en 3D avec une animation au click */
.buttons {
  display: flex;
  visibility: hidden;
}

.post:hover .buttons {
  visibility: visible;
}

.flip-btn {
  margin: 4px;
  width: var(--btn-width);
  height: var(--btn-width);
  background-color: transparent;
  perspective: 100px;
}
.flip-btn__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.btn--front,
.btn--back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  backface-visibility: hidden;
}

.btn--back {
  transform: rotateX(180deg);
}

.post__footer .flip-btn:nth-child(1) > .flip-btn__inner .btn--front {
  background-image: url(../images/logo_in.svg);
}
.post__footer .flip-btn:nth-child(1) > .flip-btn__inner .btn--back {
  background-color: var(--color-in);
}

.post__footer .flip-btn:nth-child(2) > .flip-btn__inner .btn--front {
  background-image: url(../images/logo_bird.svg);
}
.post__footer .flip-btn:nth-child(2) > .flip-btn__inner .btn--back {
  background-color: var(--color-twit);
}

.post__footer .flip-btn:nth-child(3) > .flip-btn__inner .btn--front {
  background-image: url(../images/logo_face.svg);
}
.post__footer .flip-btn:nth-child(3) > .flip-btn__inner .btn--back {
  background-color: var(--color-face);
}

/* animations */
.flip-btn:active .flip-btn__inner {
  animation: 0.5s linear rot;
  animation-play-state: running;
}

@keyframes rot {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
/****************** mobile *******************/
@media screen and (max-width: 1070px) {
  .wrapper {
    grid-template-columns: repeat(3, var(--post-width));
  }
}
@media screen and (max-width: 830px) {
  .wrapper {
    grid-template-columns: repeat(2, var(--post-width));
  }
}
@media screen and (max-width: 610px) {
  .wrapper {
    grid-template-columns: repeat(1, var(--post-width));
  }
  .header__right {
    display: initial;
  }

  .header__right .menu {
    display: initial;
  }

  .header__right .nav {
    display: initial;
    visibility: hidden;
  }

  .header__right:focus-within .nav {
    visibility: visible;
  }

  .nav li {
    padding-left: 0;
  }

  .nav-tabs {
    display: none;
  }

  .main {
    padding: 0px;
    padding-bottom: 1em;
    background-color: var(--color-white);
  }

  .post {
    width: 100vw;
    margin: 1em 0 0 0;
  }
}
