/* Constantes */
:root {
  /* colors */
  --color_bckg_1: #c4c4c4;
  --color_bckg_tab: #e5e5e5;
  --color_bckg_tab_select: #99b2e2;

  /* values*/
  --pad_main: 50px;
  --marg_post: 5px;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  max-width: 1280px;
  margin: 0 auto;
}

/**** header ****/
.header {
  background-color: var(--color_bckg_1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 18px;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 10px 15px 10px 11px;
  background-color: #459ce2;
  border: 1px solid #fff;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.menu {
  padding-right: 10px;
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 26px;
}

.nav li {
  padding-left: 40px;
}

.nav li:first-child {
  padding-left: 0px;
}

/**** hero ****/
.hero {
  height: 270px;
  background-image: url("../images/hero.jpg");
  background-position: center;
  border: 1px solid #fff;
  display: flex;
}

.hero h2 {
  margin: auto;
  font-size: 64px;
}

/**** tabs ****/
.nav-tabs {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--pad_main);
  margin-top: 1em;
}

.nav-tabs ul {
  display: flex;
  background-color: var(--color_bckg_tab);
}

.nav-tabs li {
  display: flex;
  height: 50px;
  width: 87px;
}

.nav-tabs a {
  margin: auto;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.nav-tabs li:not(:last-child) {
  border-right: 1px solid #000;
}

.nav-tabs__left li:first-child {
  background-color: var(--color_bckg_tab_select);
}

/**** posts ****/
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 calc(var(--pad_main) - var(--marg_post));
  background-color: var(--color_bckg_1);
}

.post {
  width: 240px;
  margin: 0 var(--marg_post);
  background-color: var(--color_bckg_1);
}

.post__title {
  font-size: 20px;
  font-weight: 700;
  margin: 5px;
}

.post img {
  width: 100%;
  height: auto;
  border: 1px solid #fff;
}

.post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.post__footer .username {
  margin: 0 8px;
  cursor: default;
}

.post__footer button {
  width: 32px;
  height: 32px;
  margin: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #fff;
  visibility: hidden;
}

.post__footer button:nth-child(1) {
  background-image: url(../images/logo_in.svg);
}

.post__footer button:nth-child(2) {
  background-image: url(../images/logo_bird.svg);
}

.post__footer button:nth-child(3) {
  background-image: url(../images/logo_face.svg);
}

.post:hover button {
  visibility: visible;
}

button:active{
  transform: scale(0.9, 0.9);
  box-shadow: inset 1px 1px #333;
}

/**** mobile ****/
@media screen and (max-width: 610px) {
  .header__right .nav {
    display: none;
  }

  .header__right .menu {
    display: initial;
  }

  .nav-tabs {
    display: none;
  }

  .main {
    padding: 0;
    padding-bottom: 1em;
    width: 100%;
    background-color: #fff;
  }

  .post {
    width: 100vw;
    margin: 1em 0 0 0;
  }
}
