/* Constantes */
:root {
  /* colors */
  --color_bckg_1: #c4c4c4;
  --color_bckg_img: #dd3a3a;
  --color_bckg_tab: #e5e5e5;
  --color_bckg_tab_select: #99b2e2;

  /* values*/
  --pad_main: 50px;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2em;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
}

/**** header ****/
.page-header {
  background-color: var(--color_bckg_1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 18px;
}

.page-header-left,
.page-header-right {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.left-logo {
  width: 40px;
  height: 40px;
  margin: 10px 15px 10px 11px;
  background-color: var(--color_bckg_img);
  border: 1px solid #ffffff;
}

.left-title {
  font-size: 28px;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 26px;
}
.right-menu {
  padding-right: 10px;
  display: none;
}

.right-nav li {
  padding-left: 40px;
}

.right-nav li:first-child {
  padding-left: 0px;
}

/**** hero ****/
.page-hero {
  height: 270px;
  background-color: var(--color_bckg_img);
  /* background-image: url(""); */
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
}
.page-hero h2 {
  margin: auto;
  font-size: 64px;
}

/**** hr ****/
.page-hr {
  height: 1em;
  background-color: #ffffff;
}

/**** tabs ****/
.page-tabs {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--pad_main);
}
.page-tabs ul {
  display: flex;
  background-color: var(--color_bckg_tab);
}
.page-tabs .tabs-left li:first-child {
  background-color: var(--color_bckg_tab_select);
}
.page-tabs li {
  display: flex;
  height: 50px;
  width: 87px;
}

.page-tabs li:not(:last-child) {
  border-right: 1px solid #000;
}

.page-tabs a {
  margin: auto;
  text-decoration: none;
  color: #000;
}

/**** mobile ****/
@media screen and (max-width: 560px) {
  .right-nav {
    display: none;
  }
  .right-menu {
    display: initial;
  }
  .page-tabs {
    display: none;
  }
}
